.bomb-container {
  height: 80vh;
  width: 60vw;
  margin: 50px auto 0;
  background: grey;

  .bomb-header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background: rgb(71, 71, 71);
    height: 20%;

    .timer {
      color: white;
      font-size: 5rem;
    }

    .left-light-container {
        height: 100%;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;

        .left-light {
            height: 115px;
            width: 115px;
            margin: 0 auto;
            border-radius: 100px;
            background: green;
        }
    }

    .right-light-container {
        height: 100%;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;

        .right-light {
            height: 115px;
            width: 115px;
            margin: 0 auto;
            border-radius: 100px;
            background: green;
        }
    }
  }  

  .module-container {
    height: 80%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .module {
        border: 1px solid black;
    }

    .module1 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        flex-direction: column;
        opacity: 0;
    }

    .module2 {
        opacity: 0;
        .wire-img{
            background: url(../assets/img/Fils\ connectés.png) center/contain no-repeat;
            height: 350px;

        }

        .checkbox {
            margin-top: 20px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }

    .module3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        opacity: 0;

        .module3Light-container {
            height: 10%;
            display: flex;
            align-items: center;
            justify-content: center;

            .module3Light {
                height: 30px;
                width: 30px;
                border-radius: 100px;
                border: 1px solid black;
            }
        }


        button {
            height: 250px;
            width: 250px;
            border-radius: 200px;
            background: red;
            font-size: 2rem;
            color: white;


        }
    }
  }



}
.defuseBtn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
    .submit-button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid black ;
        height: 100px;
        width: 100px;
        background: grey;

        button {
            height: 75px;
            width: 75px;
            border-radius: 100px;
            background: red;
        }
    }

}
