@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

button {
  cursor: pointer;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header span {
  margin: 15px;
  font-size: 2rem;
  cursor: pointer;
}

.bomb-container {
  height: 80vh;
  width: 60vw;
  margin: 50px auto 0;
  background: grey;
}
.bomb-container .bomb-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(71, 71, 71);
  height: 20%;
}
.bomb-container .bomb-header .timer {
  color: white;
  font-size: 5rem;
}
.bomb-container .bomb-header .left-light-container {
  height: 100%;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bomb-container .bomb-header .left-light-container .left-light {
  height: 115px;
  width: 115px;
  margin: 0 auto;
  border-radius: 100px;
  background: green;
}
.bomb-container .bomb-header .right-light-container {
  height: 100%;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bomb-container .bomb-header .right-light-container .right-light {
  height: 115px;
  width: 115px;
  margin: 0 auto;
  border-radius: 100px;
  background: green;
}
.bomb-container .module-container {
  height: 80%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.bomb-container .module-container .module {
  border: 1px solid black;
}
.bomb-container .module-container .module1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
}
.bomb-container .module-container .module2 {
  opacity: 0;
}
.bomb-container .module-container .module2 .wire-img {
  background: url(../assets/img/Fils\ connectés.png) center/contain no-repeat;
  height: 350px;
}
.bomb-container .module-container .module2 .checkbox {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.defuseBtn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.defuseBtn-container .submit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid black;
  height: 100px;
  width: 100px;
  background: grey;
}
.defuseBtn-container .submit-button button {
  height: 75px;
  width: 75px;
  border-radius: 100px;
  background: red;
}/*# sourceMappingURL=index.css.map */